

.wrapper{
  position: relative;
  /* The image used */

  /* Full height */
  height: 100%; 
  left: 160px;


}

body, html {
  height: 100%;
  margin: 0;
}
#Game{
    display:none ;
}

#main{
  display:none ;
  background-image: url("https://coolwallpapers.me/picsup/2901900-pac-man-retro-games-video-games-keep-calm-and_-ghosts-ghost-yellow___game-wallpapers.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}




* {
  margin: 0;
  padding: 0;
  }


/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    /* z-index: 1; Stay on top */
    /* top: 0; Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 40px;
    padding-bottom: 20px;
    vertical-align:middle; 


  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 15px 8px 15px 16px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  


  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }