*{
  box-sizing: border-box;
}
.navbar-nav{
  margin: 0;
  list-style-type: none;
  width:10vw;
  height: 100vh;
  min-height: 80vh;
  background-color: fff;
  position: fixed;
  display: flex;
  flex-flow: column;
  align-items:center;
  box-shadow: 0 100vh 100vw 0 rgba(0, 0, 0, 0.2);
  margin-right: 100%;
  justify-content:space-around;

}
.nav-item{
  color: #515151;
  display: inline-block;  
  margin-right: 100%;
  
}
.link-text {
  display:inline;
  margin-left: 1rem;
}
.nav-item:hover{
  background: #FFFF99;
  transform: scale(1.2);

}
.logo-image{
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
}
  .flexbox-container{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 10vw;
    display: flex;
    flex-direction: column-reverse;
    min-height: 80vh;
    width: 90vw;

  }
  .flexbox-container img{
    position: flex;
    height: 100vh;
    width: 90vw;
    z-index: -1;
  }
  .flexbox-item{
    width: 200px;
    margin: 10px;
    border: 3px solid#333;
    background-color: aquamarine;
  }
  .flexbox-item-1{
    background-color: aqua;
    position: flex;
    justify-content: center;
    align-self: flex-end;

  }
  .flexbox-item-2{
    position: flex;
    justify-content: center;
  }
  .img{
    position: flex;
  }
  .flexbox-container .btn1 {
    width: 400px;
    position: absolute;
    left: 50%;
    bottom: 8%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    
  }
  .flexbox-container .btn2 {
    position: absolute;
    width: 400px;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: block;
  }
  .flexbox-container .btn1:hover {
    background-color: yellowgreen;
  }
  .flexbox-container .btn2:hover {
    background-color: yellowgreen;
  }
  